<% content_for :announcement_text do %>
<p>
Learn Vim at your own pace with my new self-study Core Vim Course.
</p>
<% end %>

<% content_for :announcement_button do %>
<a href="/training/core-vim-course" class="button expand">Learn more</a>
<% end %>
