<% content_for :announcement_text, :flush => true do %>
  <p>
    I'll be teaching my Core Vim Class Online on February 19th, 2018.
  </p>
<% end %>

<% content_for :announcement_button, :flush => true do %>
  <a href="https://ti.to/studio-nelstrom/core-vim-class-online-5" class="button expand">Book now</a>
<% end %>
