<% content_for :announcement_text do %>
<p>
I'm teaching my Core Vim Class Live <strong>in Paris</strong> on June 10th.
EarlyBird tickets, priced €340 (plus tax), are available until Sunday May 26th.
</p>
<% end %>

<% content_for :announcement_button do %>
<a href="http://ut7.fr/formation/description/vim_essentiel.html" class="button expand">Book now</a>
<% end %>

