<% content_for :announcement_text do %>
<p>
I'll be teaching my Core Vim Class Online on March 5th.
</p>
<% end %>

<% content_for :announcement_button do %>
<a href="https://ti.to/studio-nelstrom/core-vim-class-online-4" class="button expand">Book now</a>
<% end %>
