<% content_for :announcement_text do %>
<p>
  Check out the amazing Black Friday deals on my live coding videos
  at <a href="http://peertopeer.io/">Peer to Peer</a>.
</p>
<% end %>

<% content_for :announcement_button do %>
<a href="http://peertopeer.io/offers/2014-black-friday/" class="button expand">Get up to 50% off!</a>
<% end %>
