<% content_for :announcement_text do %>
<p>
  Check out my new project: <a href="http://peertopeer.io/">Peer to Peer</a> - watch how experts solve tech problems.
</p>
<% end %>

<% content_for :announcement_button do %>
<a href="http://peertopeer.io/" class="button expand">Learn more</a>
<% end %>
