<% content_for :announcement_text do %>
<p>
  Happy Thanksgiving! Get 40% off <a href="https://pragprog.com/book/dnvim2/practical-vim-second-edition">Practical Vim, 2nd edition</a> (and all other titles from Pragmatic Bookshelf).
</p>
<% end %>

<% content_for :announcement_button do %>
<a href="https://media.pragprog.com/newsletters/2015-11-23.html" class="button expand">Learn more</a>
<% end %>
