---
title: Vimcasts - Free screencasts about the text editor Vim
---

<h1>Discover Vim</h1>

<ul>
<li><a href="/paths/starting-out">Starting Out</a></li>
<li><a href="/paths/copy-and-paste">Copy and Paste</a></li>
<li><a href="/paths/the-fugitive-series">The Fugitive Series</a></li>
<li><a href="/paths/managing-your-workspace">Managing your workspace</a></li>
</ul>

