---
title: Core Vim Course - At Your Own Pace
---

<div class="row">
  <div class="small-12 columns">
    <h1>Core Vim Course - At Your Own Pace</h1>
  </div>
</div>

<div class="training-leadtext">
  <div class="enlarged small-12 medium-10 columns">
    <p>
      I've taught my Core Vim Class to more than 600 people online and in person. Now, for the first time, I'm making available the core learning resources &ndash; the VimDojo and 10 videos &ndash; for purchase, so you can study Vim at your own pace, in your own time.
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>Why take the course?</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">

    <ul class="veryspaced">
      <li>By combining learning and doing through the videos and dojo you develop a deeper understanding of Core Vim principles</li>
      <li>By learning at your own pace you can take as much or as little time as you need to get to grips with these vital Vim skills</li>
      <li>Over the course of study, I'll gradually tease out a set of best practices so you can take your Vim skills to a higher level</li>
    </ul>
  </div>
  <div class="small-12 medium-5 medium-offset-1 columns">

    <div class="passport">
      <img src="/images/drewneil-mugshot.jpeg"/>
      <p>The Core Vim Course was produced by <a href="/about/" class="nobr">Drew Neil.</a></p>
    </div>

  </div>
</div>

<div class="row howitworks">
  <div class="small-12 columns">
    <h3>How does the course work?</h3>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-6 columns">
    <h4>Watch the video</h4>
    <p>
      Each video introduces a problem that you're then encouraged to try out in the VimDojo. Once you've had a go at solving the problem, you come back to the video, which will summarise a few possible approaches, comparing strengths and weaknesses.
    </p>
    <p>
      There are ten videos, with a combined running time of 75 minutes.
    </p>
  </div>
  <div class="small-12 medium-5 medium-offset-1 columns">
    <img src="/images/training/core-vim-course-video-1.png"/>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
    <h4>Learn by doing</h4>
    <p>
      The VimDojo contains a set of 16 exercises that are designed to help you discover best practices for using Vim.
    </p>
  </div>
  <div class="small-12 medium-5 medium-offset-1 columns">
    <img src="/images/training/core-vim-course-video-2.png"/>
  </div>
</div>

<div class="standout">
  <blockquote class="testimonial">
    This course catapulted me from novice to enlightened intermediate in 3 extremely enjoyable hours.
    <a href="http://corinchellberg.com/" class="nobr">Corin Chellberg</a>
  </blockquote>
</div>

<div class="row">
  <div class="small-12 large-6 columns">
    <h3>Who is the course for?</h3>
    <p>This Core Vim masterclass is aimed at the intermediate user who wants to level up.</p>
    <ul class="spaced">
      <li>you are familiar with the basics (not sure? Go through <a href="http://vimdoc.sourceforge.net/htmldoc/usr_01.html#tutor">vimtutor</a>)</li>
      <li>you have moved beyond using the arrow keys (not sure how? <a href="http://vimcasts.org/blog/2013/02/habit-breaking-habit-making/">Read habit making, habit breaking</a>)</li>
      <li>you feel that something is holding you back from reaching the next level</li>
      <li>you like to learn at your own pace</li>
    </ul>
  </div>
</div>

<div class="standout">
  <blockquote class="testimonial">
    I'm using the stuff I learned on a daily basis now (:args/:argdo FTW!) - it was an absolutely fantastic course.
    <a href="https://twitter.com/felixge" class="nobr">Felix Geisendörfer</a>
  </blockquote>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>What you will learn</h3>
  </div>
  <div class="small-12 large-6 columns">
    <ul class="spaced">
      <li>learn how to <strong>repeat the last change</strong> using the dot command</li>
      <li>meet <strong>the dot formula</strong> – a 2 step process with 1000 uses</li>
      <li>move your cursor wherever you want it to go <strong>with as little as 2 keystrokes</strong></li>
      <li><strong>DRY up your workflow</strong> with macros – your robotic sidekick</li>
      <li>learn how to <strong>execute your macros across multiple files</strong> using the arglist</li>
      <li><strong>attain enlightenment</strong> by understanding text objects</li>
      <li><strong>Stop using counts!</strong> I will teach you to apply the same change over a visual range with the :normal command.</li>
      <li>learn <strong>why old-school vi operators trump Visual mode</strong></li>
    </ul>
  </div>
  <div class="small-12 large-5 large-offset-1 columns">
    <p>If you’ve already read <a href="http://pragprog.com/book/dnvim/practical-vim">Practical Vim</a>, then you may be familiar with the concepts covered in this class. The coursework doesn’t correspond to any single chapter of my book, but joins the dots between the most important tips.
    </p>
    <p>
    We learn best by doing. As Confucius put it: “I hear and I forget. I see and I remember. I do and I understand.”.
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>Pricing</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
    <ul class="pricing-table">
      <li class="title">Core Vim Course</li>
      <li class="price">$120</li>
      <li class="description">Core Vim Course at your own pace</li>
      <li class="bullet-item">10 videos</li>
      <li class="bullet-item">16 exercises</li>
      <li class="bullet-item">PDF of the slides used in the video</li>
      <li class="bullet-item">Transcripts of each video</li>
      <li class="cta-button">
        <a class="button expand" ref="http://transactions.sendowl.com/products/57722/9475ADEC/purchase" rel="nofollow" >
          Buy Now
        </a>
      </li>
    </ul>
  </div>

  <div class="small-12 medium-6 large-5 large-offset-1 columns">
    <ul class="pricing-table">
      <li class="title">Core Vim Class Online</li>
      <li class="price">$255</li>
      <li class="description">Core Vim Class live with Drew Neil</li>

      <li class="bullet-item">4 hour live broadcast</li>
      <li class="bullet-item">Realtime Q &amp; A</li>
      <li class="bullet-item">A copy of the Core Vim Course for revision</li>
      <li class="cta-button">
        <a class="button secondary expand" href="/training/core-vim" rel="nofollow" >
          Learn more
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="row upsell-private-class">
  <div class="small-12 columns">
    <h3>I'd rather learn all this at work - do you do private workshops?</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-8 columns">
    <p>Yes! I've taught private classes for companies including Bloomberg, Shopify, and Booking.com. Why not ask your CTO to give your entire team a productivity boost by <a href="/training/private">booking a private class?</a></p>
  </div>
</div>


<%= partial "footer-training" %>

