---
title: Core Vim Course - At Your Own Pace
---

<div class="row">
  <div class="small-12 columns">
    <h1>Core Vim Course - At Your Own Pace</h1>
  </div>
</div>

<div class="row">
  <div class="enlarged small-12 medium-10 columns">
    <p>
      Hello, I'm Drew Neil, author of the best-selling title Practical Vim. I've taught my Core Vim Class to more than 600 people online and in person. Now, for the first time, I'm making available the core learning resources - the Vim Dojo and 10 videos - for purchase, so you can study Vim at your own pace, in your own time.
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-7 columns">
    <h3>Why take the course?</h3>

    <ul>
      <li>by combining learning and doing through the videos and dojo you develop a deeper understanding of Core Vim principles</li>
      <li>By learning at your own pace you can take as much or as littel time as you need to get to grips with these vital Vim skills</li>
      <li>Over the course of study, I'll gradually tease out a set of best practices so you'll build a ddeper knowledge of Vim rather than just assembling a list of quick-fix solutions</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>How does the course work?</h3>
  </div>

  <div class="small-12 medium-5 columns">
    <h4>Watch the video</h4>
    <p>
      Each video introduces a problem that you're then encouragewd to try out in the Vim Dojo. Once you've had a go at solving the problem, you come back to the video, which will summarise as few possible approaches, comparing strengths and weaknesses. As the course unfolds, som patterns will emerge and I'll use these to derive a set of best-practices. There are ten videos in total, running from 5 to 15 minutes.
    </p>
  </div>

  <div class="small-12 medium-5 medium-offset-2 columns">
    <h4>Learn by doing</h4>
    <p>
      The Vim Dojo contains a set of 25 specially selected exercises that are designed to show you some best practices for using Vim. I believve that you learn best by doing, so the Vim dojo lets you get your hands dirty. I've specifically chosen exerciese that work together to gradyually built your knowledge of Vim and your confidence in your skills.
    </p>
  </div>
</div>

<div class="row">
  <blockquote class="testimonial">
    I'm using the stuff I learned on a daily basis now (:args/:argdo FTW!) - it was an absolutely fantastic course.
    <a href="https://twitter.com/felixge">Felix Geisendörfer</a>
  </blockquote>
</div>

<div class="row">
  <div class="small-12 large-8 columns">
    <h3>Who is the course for?</h3>
    <p>This Core Vim masterclass is aimed at the intermediate user who wants to level up.</p>
    <ul>
      <li>you are familiar with the basics (not sure? Go through <a href="http://vimdoc.sourceforge.net/htmldoc/usr_01.html#tutor">vimtutor</a>)</li>
      <li>you have moved beyond using the arrow keys (not sure how? <a href="http://vimcasts.org/blog/2013/02/habit-breaking-habit-making/">Read habit making, habit breaking</a>)</li>
      <li>you feel that something is holding you back from reaching the next level</li>
    </ul>
  </div>
</div>

<div class="row">
  <blockquote class="testimonial">
    If you believe in learning how to master tools you use every day in your job as a programmer, learn your editor inside and out. Drew's Vim master class is the gateway to becoming really proficient with Vim.
    <a href="http://www.littlehart.net/atthekeyboard">Chris Hartjes</a>
  </blockquote>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>What you will learn</h3>
  </div>
  <div class="small-12 large-6 columns">
    <ul>
      <li>learn how to <strong>repeat the last change</strong> using the dot command</li>
      <li>meet <strong>the dot formula</strong> – a 2 step process with 1000 uses</li>
      <li>move your cursor wherever you want it to go <strong>with as little as 2 keystrokes</strong></li>
      <li><strong>DRY up your workflow</strong> with macros – your robotic sidekick</li>
      <li>learn how to <strong>execute your macros across multiple files</strong> using the arglist</li>
      <li><strong>attain enlightenment</strong> by understanding text objects</li>
      <li><strong>Stop using counts!</strong> I will teach you to apply the same change over a visual range with the :normal command.</li>
      <li>learn <strong>why old-school vi operators trump Visual mode</strong></li>
    </ul>
  </div>
  <div class="small-12 large-5 large-offset-1 columns">
    <p>If you’ve already read <a href="http://pragprog.com/book/dnvim/practical-vim">Practical Vim</a>, then you may be familiar with the concepts covered in this class. The coursework doesn’t correspond to any single chapter of my book, but joins the dots between the most important tips.
    </p>
    <p>
    We learn best by doing. As Confucius put it: “I hear and I forget. I see and I remember. I do and I understand.”.
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>Pricing</h3>
    <p>The Core Vim Course is priced at $100, which includes:</p>
    <ul>
      <li>10 videos</li>
      <li>25 exercises</li>
      <li>PDF of the slides used in the video</li>
    </ul>
  </div>
</div>

<div class="row">
<div class="panel clearfix">
  <p class="small-12 large-6 columns">Learn everything that matters in this Core Vim Course - at your own pace</p>
  <div class="small-12 large-5 large-offset-1 columns">
    <a href="http://transactions.sendowl.com/products/47171/E591DC22/purchase" rel="nofollow" ><img src="http://assets.sendowl.com/images/buttons/buy-now-green.png" /></a>
  </div>

</div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>I'd rather learn all this at work - do you do private workshops?</h3>
    <p>Yes! I've taught private classes for companies including Bloomberg, Shopify, and Booking.com. Why not ask your CTO to give your entire team a productivity boost by <a href="/training/private">booking a private class?</a></p>
  </div>
</div>


<%= partial "footer-training" %>

