---
title: Vimcasts - Free screencasts about the text editor Vim
---

<% content_for :header do; end %>

<%= partial "training-strapline" %>

<%= partial "next-class" %>

<div class="training-signpost">
  <div class="core-vim-class">
    <% link_to "/training/core-vim" do %>
      <h3>Core Vim Class</h3>
      <p>Learn everything that matters in 4 hours.</p>
    <% end %>
  </div>
  <blockquote class="testimonial">
    I'm using the stuff I learned on a daily basis now (:args/:argdo FTW!) - it was an absolutely fantastic course.
    <a href="https://twitter.com/felixge">Felix Geisendörfer</a>
  </blockquote>
</div>

<div class="training-signpost">
  <div class="private-class">
    <% link_to "/training/private" do %>
      <h3>Book a private class</h3>
      <p>Give your team a productivity boost.</p>
    <% end %>
  </div>
  <blockquote class="testimonial">
    <p>Drew hosted a private Vim session for the shopify team that was one of the best workshops I have ever attended.</p>
    <p>John Duff, Director of Engineering at Shopify</p>
  </blockquote>
</div>

<%= partial "footer-training" %>
