---
title: Vimcasts - Free screencasts about the text editor Vim
---

<% content_for :header do %>
<h4 class="text-right">
  Vim training: online, in person, or in-house<br/>
  <small>Drew Neil has coached more than 500 people worldwide.</small>
</h4>
<% end %>


<%= partial "next-class" %>

<div class="row training-signposts">
  <div class="small-12 large-8 columns">
    <h2>Core Vim Class</h2>
    <p>Learn everything that matters in 4 hours.</p>
  </div>
  <div class="small-12 large-4 columns">
    <h2>Book a private class</h2>
    <p>Give your team a productivity boost.</p>
  </div>
</div>

<div class="row footer">

  <hr/>

  <div class="small-6 columns">
    <ul class="inline-list">
      <li><a href="/about">About</a></li>
      <li><a href="/subscribe">Subscribe</a></li>
      <li><a href="/categories">Free screencasts</a></li>
    </ul>
  </div>

  <div class="small-6 columns">
    <p class="text-right">
      Vimcasts.org established MMX
    </p>
  </div>

</div>
