---
title: Vimcasts - Free screencasts about the text editor Vim
---

<% content_for :header do %>
<h4 class="text-right">
  Vim training: online, in person, or in-house<br/>
  <small>
    Drew Neil has coached
    <%= number_of_core_vim_attendees %>
    people worldwide
  </small>
</h4>
<% end %>


<%= partial "next-class" %>

<div class="row training-signposts">
  <div class="small-12 large-8 columns">
    <% link_to "/training/core-vim" do %>
      <h2>Core Vim Class</h2>
      <p>Learn everything that matters in 4 hours.</p>
    <% end %>
  </div>
  <div class="small-12 large-4 columns">
    <% link_to "/training/private" do %>
      <h2>Book a private class</h2>
      <p>Give your team a productivity boost.</p>
    <% end %>
  </div>
</div>

<%= partial "footer-training" %>
