---
title: Vimcasts - Free screencasts about the text editor Vim
---

<% announcement "next-class" %>
<div class="row announcement-banner">
  <div class="small-12 column show-for-small-only">
    <div class="panel">
      <%= yield_content :announcement_text %>
      <%= yield_content :announcement_button %>
    </div>
  </div>

  <div class="panel show-for-medium-up clearfix">
    <div class="small-8 column">
      <%= yield_content :announcement_text %>
    </div>

    <div class="small-4 column">
      <%= yield_content :announcement_button %>
    </div>
  </div>

</div>

<div class="row training-signposts">
  <div class="small-12 large-8 columns">
    <h2>Core Vim Class</h2>
    <p>Learn everything that matters in 4 hours.</p>
  </div>
  <div class="small-12 large-4 columns">
    <h2>Book a private class</h2>
    <p>Give your team a productivity boost.</p>
  </div>
</div>

