---
title: Vimcasts - Free screencasts about the text editor Vim
---

<% content_for :header do %>
  <h4 class="text-right">
    Vim training: online, in person, or in-house<br/>
    <small>
      Drew Neil has coached
      <%= number_of_core_vim_attendees %>
      people worldwide.
    </small>
  </h4>
<% end %>

<div class="row">
  <div class="small-12 large-12 columns">
    <h1>Private Vim training courses</h1>
  </div>

  <div class="small-12 large-6 columns">
    <p>I can teach my <a href="/training/core-vim">Core Vim Class</a> to your team privately, which takes 4 hours. I can deliver the class online or on-site (not in the US).</p>
    <p>If you’d like to book me for a full day of training, then I can teach the Core Vim Class plus an additional 3 hours of material, which I can tailor to the needs of your team.</p>
  </div>

  <div class="small-12 large-6 columns">
    <blockquote>
      <p>Drew hosted a private Vim session for the shopify team that was one of the best workshops I have ever attended.</p>
      <p>John Duff, Director of Engineering at Shopify</p>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 columns">
    <h2>Half day training</h2>
    <ul>
      <li>£180 (GBP) per attendee</li>
      <li>minimum of 8 attendees for online and UK classes</li>
      <li>minimum of 12 attendees for classes taught outside UK</li>
      <li>travel expenses requested for classes taught on-site</li>
    </ul>
    <p>You can book a private class for a group size smaller than the minimum, but I’ll still need to charge for the minimum class size.</p>
  </div>

  <div class="small-12 large-6 columns">
    <h2>Full day training</h2>
    <ul>
      <li>£280 (GBP) per attendee</li>
      <li>delivered on-site over a full day, or
      delivered online over two consecutive days</li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="small-12 column">

    <div class="panel show-for-small-only text-center">
      <h3>Give your team a productivity boost</h3>
      <a class="button expand" href="mailto:drew@vimcasts.org">Book Drew Neil to train your team</a>
    </div>

    <div class="panel show-for-large-up text-center">
      <h3>Give your team a productivity boost</h3>
      <a class="button" href="mailto:drew@vimcasts.org">Book Drew Neil to train your team</a>
    </div>

  </div>

</div>

<div class="row">
  <div class="small-12 large-8 columns">
 
    <h2>Testimonials</h2>

    <p>I’ve taught my course for companies on-site and online. Read these testimonials from past attendees.</p>

    <h3>Shopify</h3>
    <p>Shopify asked me to run my Core Vim Class online for them. John Duff, Director of Engineering at Shopify, says:</p>
    <blockquote>
      <p>Drew hosted a private Vim session for the shopify team that was one of the best workshops I have ever attended. We have a wide variety of Vim experience on the team, from novice to expert, and everyone learned something.</p>
      <p>The format for the workshop was perfect. Drew encourages practice and experimentation, you try and solve a problem yourself and then he shows you a better/easier way to do it. The team got very into it, working to try and get the best solution before Drew came back with it.</p>
      <p>Drew doesn’t teach you Vim, he guides you through learning Vim the best way you could – by using it.</p>
    </blockquote>

    <h3>Booking.com</h3>
    <p>Booking.com invited me to teach my Core Vim Class on-site. Deepak Gulati, Senior Team Lead at Booking.com, says:</p>
    <blockquote>
      <p>We invited Drew to deliver his Core Vim Masterclass on-site for our IT event in Amsterdam. The class was attended by developers who use Vim daily, but wanted to take their skills to the next level. Drew’s practical, hands-on approach to learning intricacies of Vim kept everyone engaged throughout the session. The content was very well received and even the seasoned Vim users in the group had something new to learn. We look forward to working with Drew again.</p>
    </blockquote>

    <h3>Spilgames</h3>
    <p>Spilgames hired me to run my Core Vim Class on-site at their Hilversum office. Jeroen Seegers, back-end developer at Spilgames, says:</p>
    <blockquote>
      <p>A lot of developers at Spilgames were using Vim and feeling like they could get much more out of it, but weren’t sure how to do so. Around this time we came in contact with Drew to organise a workshop on Vim at our office.</p>
      <p>The workshop itself is set up in such a way that you don’t have to be a Vim guru to follow along, even when only having used Vim occasionally over the years enables you to follow along just fine. The content of the workshop is very adaptable to the level of attendees and leaves a lot of room for questions and “unscheduled” usecases along the way. In the end it’s been very helpful for all of the attendees at Spilgames and we’re all still using the tips and tricks which Drew taught us.</p>
    </blockquote>
  </div>
</div>

<div class="row footer">

  <hr/>

  <div class="small-6 columns">
    <ul class="inline-list">
      <li><a href="/about">About</a></li>
      <li><a href="/subscribe">Subscribe</a></li>
      <li><a href="/categories">Free screencasts</a></li>
    </ul>
  </div>

  <div class="small-6 columns">
    <p class="text-right">
    Vimcasts.org established MMX
    </p>
  </div>

</div>
