@charset "utf-8";

body {
  font-family: sans-serif;
}
#logo a, #logo span {
  background-image: url(/images/vimcasts-logo.svg);
  background-repeat: no-repeat;
  display: block;
  width: 217px;
  height: 106px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
