@import "settings";
@import "foundation.scss";


header {
  @include grid-row;

  .logo  { @include grid-column($columns:3, $center:true); }
  padding-bottom: em-calc(10px);

}


.main-content {
  @include grid-row;

  aside  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:3);
    // }
  }

  article  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:8, $offset: 1);
    // }
  }

}

#logo a, #logo span {
  background-image: url(/images/vimcasts-logo.svg);
  background-repeat: no-repeat;
  display: block;
  width: 217px;
  height: 106px;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.identity-row {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media #{$small-only} {
  #logo a, #logo span {
    width: 108px;
    height: 53px;
  }
  .latest-content hr {
    display: none;
  }
}

.announcement-banner .show-for-medium-up .button {
  margin-bottom: 0;
}
.book-drew-neil .button {
  margin-bottom: 0;
}

.top-bar-underlay {
  width: 100%;
  height: 45px;
  background-color: $topbar-bg;
  position: absolute;
}

.buy-practical-vim-now {
  margin-left: auto;
  margin-right: auto;
}

.buy-videos-from-thoughtbot {
  display: block;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
}

.publication {
  margin-bottom: $header-bottom-margin * 5;
}

.category-list {
  border-top: 1px solid $panel-border-color;
  border-left: 1px solid $panel-border-color;
  li {
    border-bottom: 1px solid $panel-border-color;
    border-right: 1px solid $panel-border-color;
  }
  li:nth-child(2n) {
    background-color: $panel-bg;
  }
  li a { display: block; }
}
