@import "settings";
@import "foundation.scss";

header {
  @include grid-row;

  .logo  { @include grid-column($columns:3, $center:true); }
  padding-bottom: em-calc(10px);

}

body.proof {
  .row {
    background-image: url('/images/grid-960.png');
    background-size: 100%;
  }
}

.main-content {
  @include grid-row;

  aside  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:3);
    // }
  }

  article  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:8, $offset: 1);
    // }
  }

}

#logo {
  padding-left: 0;
  h1 {
    display: inline-block;
    position: relative;
    width: 100%;
    &:before {
      // set height to be 50% of width
      // http://stackoverflow.com/a/6615994/128850
      margin-top: 50%;
      content: '';
      display: block;
    }
  }
  a, span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url(/images/vimcasts-logo.svg);
    background-repeat: no-repeat;
    background-size: 77.5%;
    background-position: -3% 0%;

    text-indent: 500%;
    white-space: nowrap;
    overflow: hidden;
  }

}

.identity-row {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media #{$small-only} {
  .latest-content hr {
    display: none;
  }
}

.announcement-banner .show-for-medium-up .button {
  margin-bottom: 0;
}
.book-drew-neil .button {
  margin-bottom: 0;
}

.top-bar-underlay {
  width: 100%;
  height: 45px;
  background-color: $topbar-bg;
  position: absolute;
}

.buy-practical-vim-now {
  margin-left: auto;
  margin-right: auto;
}

.buy-videos-from-thoughtbot {
  display: block;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
}

.publication {
  margin-bottom: $header-bottom-margin * 5;
}

.category-list {
  border-top: 1px solid $panel-border-color;
  border-left: 1px solid $panel-border-color;
  li {
    border-bottom: 1px solid $panel-border-color;
    border-right: 1px solid $panel-border-color;
  }
  li:nth-child(2n) {
    background-color: $panel-bg;
  }
  li a { display: block; }
}

.video_wrapper {
  margin-bottom: $paragraph-margin-bottom;
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 800px;
  &:before {
    margin-top: 75%;
    content: "";
    display: block;
  }
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.episode_number, time.pubdate {
  text-align: right;
  color: lighten($body-font-color, 45%);
}

a.readmore {
  float: right;
}

.blog_page section.article,
.blog_index section.article,
.episodes_index section.screencast,
.episodes_page section.screencast {
  margin-bottom: $header-bottom-margin * 10;
}

section.article, section.screencast, section.transcript {
  .pubdate-row {
    &, body.index & {
      margin-bottom: $header-bottom-margin;
    }
  }
}

.episode_number small { color: lighten($body-font-color, 45%); }
h2 small { font-size: $h3-font-size; }
h3 small { font-size: $h4-font-size; }

@media #{$large-up} {
  aside.downloads, .episode_number, time.pubdate {
    text-align: right;
  }
  time.pubdate {
    color: lighten($body-font-color, 45%);
  }
}

.enlarged p {
  font-size: $h5-font-size;
  @media #{$medium-up} {
    font-size: $h4-font-size;
  }
}

aside.downloads {
}
.video-metadata {
  text-align: right;
}

@mixin header-styling {
  // Based on styles for h1, h2, h3, h4, h5, h6 defined in
  // foundation/components/_type.scss
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
  color: $header-font-color;
  text-rendering: $header-text-rendering;
  margin-top: $header-top-margin;
  margin-bottom: $header-bottom-margin;
  line-height: $header-line-height;
}
.video-duration {
  @media #{$small-only} {
    font-size: $h4-font-size - rem-calc(5);
    @include header-styling;
  }
  @media #{$medium-only} {
    font-size: $h4-font-size;
    @include header-styling;
  }
  @media #{$large-only} {
    font-weight: bold;
  }
}

pre.highlight {
  margin-bottom: $paragraph-margin-bottom;
  padding: 0.75rem 1rem;
  overflow: auto;
}
code {
  color: $header-font-color;
}

// /episodes/archive
#archive {
  .episode-archive-item {
    margin-bottom: $paragraph-margin-bottom;
    a:hover {
      text-decoration: underline;
    }
    small {
      font-size: 86%;
      color: lighten($body-font-color, 45%);
    }
  }
}

.accordion {
  margin-bottom: $paragraph-margin-bottom;
  .content {
    padding-left: 0;
    padding-right: 0;
  }

  dd {
    .disclosure {
      float:right;
      opacity: 0.5;
    }
    a:hover .disclosure {
      opacity: 0.8;
    }
    & > a .disclosure:after {
      content: " \25B2 ";
    }
    &.active > a .disclosure:after {
      content: " \25BC ";
    }
  }
}

.top-bar-section ul.search-form-wrapper {
  width: 35%;
  li { width: 100%; }
}

.compact-nav {
  .tab-bar-section {
    width: 67%;
    left: initial;
  }
  form, input { margin-bottom: 0; }
  form { position: relative; }
  input {
    // Based on styles from foundation/components/_top-bar.scss
    height: auto;
    padding-top: .35rem;
    padding-bottom: .35rem;
    font-size: $topbar-button-font-size;
    font-size: rem-calc(14);
    position: relative;
    top: $topbar-button-top + 1px;
  }
}

ul.off-canvas-list ul.dropdown {
  margin-left: 0px;
  a {
    // variables from foundation/components/_offcanvas.scss
    // and foundation/components/_type.scss
    padding-left: $off-canvas-link-padding + $list-nested-margin;
  }
}

.icomoon {
  position: relative;
  padding-right: 5px;
}
.icon-play { top: 1px; }
.icon-book { top: 2px; }

// Pagination links
// Used for /episodes and /blog pagination, and
// for /results/ (search form)
.pagination-links, .st-page {
  border: 1px solid $panel-border-color;
  @include clearfix;
  .previous, .next,
  .st-prev, .st-next {
    width: 45%;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  .previous,
  .st-prev { float:left; }
  .next,
  .st-next { float:right; text-align:right; }
  span.previous, span.next {
    color: $panel-border-color;
  }
}
