@import "settings";
@import "foundation.scss";


header {
  @include grid-row;

  .logo  { @include grid-column($columns:3, $center:true); }
  padding-bottom: em-calc(10px);

}


.main-content {
  @include grid-row;

  aside  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:3);
    // }
  }

  article  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:8, $offset: 1);
    // }
  }

}

#logo a, #logo span {
  background-image: url(/images/vimcasts-logo.svg);
  background-repeat: no-repeat;
  display: block;
  width: 217px;
  height: 106px;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.identity-row {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media #{$small-only} {
  #logo a, #logo span {
    width: 108px;
    height: 53px;
  }
  .latest-content hr {
    display: none;
  }
}

.announcement-banner .show-for-medium-up .button {
  margin-bottom: 0;
}
.book-drew-neil .button {
  margin-bottom: 0;
}
