/* line 59, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
.rrssb-buttons.large-format li a, .rrssb-buttons.large-format li a .text {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

/* line 65, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
.rrssb-buttons, .rrssb-buttons li, .rrssb-buttons li a {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 71, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
.clearfix {
  *zoom: 1; }
  /* line 74, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
  .clearfix:after {
    clear: both; }
  /* line 79, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }

/* line 86, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
.rrssb-buttons {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 36px;
  margin: 0;
  padding: 0;
  width: 100%; }
  /* line 94, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
  .rrssb-buttons li {
    float: left;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0 2.5px; }
    /* line 106, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li.email a {
      background-color: #0a88ff; }
      /* line 109, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.email a:hover {
        background-color: #006ed6; }
    /* line 106, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li.facebook a {
      background-color: #306199; }
      /* line 109, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.facebook a:hover {
        background-color: #244872; }
    /* line 106, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li.tumblr a {
      background-color: #32506d; }
      /* line 109, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.tumblr a:hover {
        background-color: #22364a; }
    /* line 106, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li.linkedin a {
      background-color: #007bb6; }
      /* line 109, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.linkedin a:hover {
        background-color: #005983; }
    /* line 106, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li.twitter a {
      background-color: #26c4f1; }
      /* line 109, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.twitter a:hover {
        background-color: #0eaad6; }
    /* line 106, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li.googleplus a {
      background-color: #e93f2e; }
      /* line 109, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.googleplus a:hover {
        background-color: #ce2616; }
    /* line 106, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li.youtube a {
      background-color: #df1c31; }
      /* line 109, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.youtube a:hover {
        background-color: #b21627; }
    /* line 106, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li.reddit a {
      background-color: #8bbbe3; }
      /* line 109, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.reddit a:hover {
        background-color: #62a3d9; }
    /* line 106, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li.pinterest a {
      background-color: #b81621; }
      /* line 109, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.pinterest a:hover {
        background-color: #8a1119; }
    /* line 106, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li.github a {
      background-color: #444444; }
      /* line 109, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.github a:hover {
        background-color: #2b2b2b; }
    /* line 117, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li a {
      background-color: #ccc;
      border-radius: 2px;
      display: block;
      font-size: 11px;
      font-weight: bold;
      height: 100%;
      padding: 11px 7px 12px 27px;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: 100%;
      -webkit-transition: background-color 0.2s ease-in-out;
      -moz-transition: background-color 0.2s ease-in-out;
      -o-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out; }
      /* line 135, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li a .icon {
        display: block;
        height: 100%;
        left: 10px;
        padding-top: 9px;
        position: absolute;
        top: 0;
        width: 10%; }
        /* line 144, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
        .rrssb-buttons li a .icon svg {
          height: 17px;
          width: 17px; }
          /* line 148, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
          .rrssb-buttons li a .icon svg path, .rrssb-buttons li a .icon svg polygon {
            fill: white; }
      /* line 154, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li a .text {
        color: white; }
      /* line 158, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li a:active {
        box-shadow: inset 1px 3px 15px 0 rgba(22, 0, 0, 0.25); }
    /* line 164, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons li.small a {
      padding: 0; }
      /* line 167, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.small a .icon {
        height: 100%;
        left: auto;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        top: auto;
        width: 100%; }
      /* line 176, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons li.small a .text {
        visibility: hidden; }
  /* line 183, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
  .rrssb-buttons.large-format {
    height: auto; }
    /* line 186, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons.large-format li {
      height: auto; }
      /* line 189, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.large-format li a {
        font-size: 15px;
        font-size: 1vw;
        padding: 7% 0% 7% 12%;
        border-radius: 0.2em; }
        /* line 196, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
        .rrssb-buttons.large-format li a .icon {
          left: 7%;
          padding-top: 0;
          width: 12%; }
          /* line 201, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
          .rrssb-buttons.large-format li a .icon svg {
            height: 100%;
            width: 100%; }
        /* line 207, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
        .rrssb-buttons.large-format li a .text {
          font-size: 15px;
          font-size: 1vw; }
        /* line 213, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
        .rrssb-buttons.large-format li a:hover {
          font-size: 15px;
          font-size: 1vw;
          padding: 7% 0% 7% 12%;
          border-radius: 0.2em; }
  /* line 223, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
  .rrssb-buttons.small-format {
    padding-top: 5px; }
    /* line 226, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons.small-format li {
      height: 80%;
      padding: 0 1.5px; }
      /* line 231, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.small-format li a .icon {
        height: 100%;
        padding-top: 0; }
        /* line 235, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
        .rrssb-buttons.small-format li a .icon svg {
          height: 48%;
          position: relative;
          top: 6px;
          width: 80%; }
  /* line 245, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
  .rrssb-buttons.tiny-format {
    height: 22px;
    position: relative; }
    /* line 249, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
    .rrssb-buttons.tiny-format li {
      padding-right: 7px; }
      /* line 252, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li a {
        background-color: transparent;
        padding: 0; }
        /* line 257, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
        .rrssb-buttons.tiny-format li a .icon svg {
          height: 70%;
          width: 100%; }
        /* line 263, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
        .rrssb-buttons.tiny-format li a:hover, .rrssb-buttons.tiny-format li a:active {
          background-color: transparent; }
      /* line 275, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.email a .icon svg path, .rrssb-buttons.tiny-format li.email a .icon svg polygon {
        fill: #0a88ff; }
      /* line 283, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.email a .icon:hover .icon svg path, .rrssb-buttons.tiny-format li.email a .icon:hover .icon svg polygon {
        fill: #0054a3; }
      /* line 275, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.facebook a .icon svg path, .rrssb-buttons.tiny-format li.facebook a .icon svg polygon {
        fill: #306199; }
      /* line 283, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.facebook a .icon:hover .icon svg path, .rrssb-buttons.tiny-format li.facebook a .icon:hover .icon svg polygon {
        fill: #18304b; }
      /* line 275, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.tumblr a .icon svg path, .rrssb-buttons.tiny-format li.tumblr a .icon svg polygon {
        fill: #32506d; }
      /* line 283, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.tumblr a .icon:hover .icon svg path, .rrssb-buttons.tiny-format li.tumblr a .icon:hover .icon svg polygon {
        fill: #121d27; }
      /* line 275, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.linkedin a .icon svg path, .rrssb-buttons.tiny-format li.linkedin a .icon svg polygon {
        fill: #007bb6; }
      /* line 283, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.linkedin a .icon:hover .icon svg path, .rrssb-buttons.tiny-format li.linkedin a .icon:hover .icon svg polygon {
        fill: #003650; }
      /* line 275, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.twitter a .icon svg path, .rrssb-buttons.tiny-format li.twitter a .icon svg polygon {
        fill: #26c4f1; }
      /* line 283, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.twitter a .icon:hover .icon svg path, .rrssb-buttons.tiny-format li.twitter a .icon:hover .icon svg polygon {
        fill: #0b84a6; }
      /* line 275, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.googleplus a .icon svg path, .rrssb-buttons.tiny-format li.googleplus a .icon svg polygon {
        fill: #e93f2e; }
      /* line 283, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.googleplus a .icon:hover .icon svg path, .rrssb-buttons.tiny-format li.googleplus a .icon:hover .icon svg polygon {
        fill: #a01e11; }
      /* line 275, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.youtube a .icon svg path, .rrssb-buttons.tiny-format li.youtube a .icon svg polygon {
        fill: #df1c31; }
      /* line 283, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.youtube a .icon:hover .icon svg path, .rrssb-buttons.tiny-format li.youtube a .icon:hover .icon svg polygon {
        fill: #84111d; }
      /* line 275, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.reddit a .icon svg path, .rrssb-buttons.tiny-format li.reddit a .icon svg polygon {
        fill: #8bbbe3; }
      /* line 283, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.reddit a .icon:hover .icon svg path, .rrssb-buttons.tiny-format li.reddit a .icon:hover .icon svg polygon {
        fill: #398bcf; }
      /* line 275, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.pinterest a .icon svg path, .rrssb-buttons.tiny-format li.pinterest a .icon svg polygon {
        fill: #b81621; }
      /* line 283, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.pinterest a .icon:hover .icon svg path, .rrssb-buttons.tiny-format li.pinterest a .icon:hover .icon svg polygon {
        fill: #5d0b11; }
      /* line 275, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.github a .icon svg path, .rrssb-buttons.tiny-format li.github a .icon svg polygon {
        fill: #444444; }
      /* line 283, /Users/drew/web/static-vimcasts/source/bower_components/RRSSB/scss/rrssb.scss */
      .rrssb-buttons.tiny-format li.github a .icon:hover .icon svg path, .rrssb-buttons.tiny-format li.github a .icon:hover .icon svg polygon {
        fill: #111111; }

/* line 4, /Users/drew/web/static-vimcasts/source/stylesheets/rrssb.css.scss */
.share-container {
  position: relative;
  padding: 0 0 25px; }
  @media screen and (max-width: 320px) {
    /* line 4, /Users/drew/web/static-vimcasts/source/stylesheets/rrssb.css.scss */
    .share-container {
      padding: 0 0 12px; } }
  /* line 12, /Users/drew/web/static-vimcasts/source/stylesheets/rrssb.css.scss */
  .share-container .label {
    color: #777;
    background-color: white;
    display: block;
    float: left;
    font-size: 14px;
    padding: 10px 0 0;
    width: 215px; }
    @media screen and (max-width: 470px) {
      /* line 12, /Users/drew/web/static-vimcasts/source/stylesheets/rrssb.css.scss */
      .share-container .label {
        display: none; } }
  /* line 27, /Users/drew/web/static-vimcasts/source/stylesheets/rrssb.css.scss */
  .share-container .rrssb-buttons {
    float: left;
    width: calc(100% - 216px); }
    @media screen and (max-width: 400px) {
      /* line 27, /Users/drew/web/static-vimcasts/source/stylesheets/rrssb.css.scss */
      .share-container .rrssb-buttons {
        width: 100%;
        float: none;
        clear: both; } }
