---
title: Vimcasts - Free screencasts about the text editor Vim
---

<h1>Publications by Drew Neil</h1>

<ul>
<li><a href="http://pragprog.com/book/dnvim/practical-vim">Practical Vim</a></li>
<li><a href="https://learn.thoughtbot.com/products/21-navigating-ruby-files-with-vim">Navigating ruby files with Vim</a></li>
<li><a href="/publications/copy-paste-clinic">Copy Paste Clinic</a></li>
<li><a href="/publications/fugitive-ebook">Fugitive - the book</a></li>
</ul>
