---
title: Publications by Drew Neil
---

<div class="row">
  <div class="small-12 columns">
    <%= partial "next-class" %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h1>Publications by Drew Neil</h1>
  </div>
</div>

<div class="publication">
  <div class="title">
    <h2>Practical Vim</h2>
  </div>
  <div class="description">
    <p>
    Practical Vim was published in 2012 by The Pragmatic Bookshelf. Here's the blurb:
    </p>
    <blockquote>
      <p>
      Vim is a fast and efficient text editor that will make you a faster and more efficient developer. It’s available on almost every OS—if you master the techniques in this book, you’ll never need another text editor.
      </p>
      <p>
      In more than 100 Vim tips, you’ll quickly learn the editor’s core functionality and tackle your trickiest editing and writing tasks.
      </p>
    </blockquote>
    <p>
      Practical Vim has been described as <em>"the book Vim has always deserved"</em> and <em>"a must-have for anybody who types"</em>. You can read 60 five-star reviews across <a href="http://amzn.to/RP2r9h">amazon.com</a> and <a href="http://amzn.to/1k9Gx9R">amazon.co.uk</a>.
    </p>
    <p>
      <a href="https://pragprog.com/titles/dnvim2/practical-vim-second-edition/">Buy direct from The Pragmatic Bookshelf</a>
    </p>
  </div>

  <div class="publications-image practical-vim">
    <img src="/images/practical-vim/practical-vim-cover-550.jpg"/>
  </div>
</div>

<div class="publication">
  <div class="title">
    <h2>Navigating Ruby files with Vim</h2>
  </div>
  <div class="description">
    <p>
      In 2013, thoughtbot commissioned a set of screencasts on Vim for Ruby developers:
    </p>

    <blockquote>
      <p>
      One sign of an inexperienced Vim user is wasted time spent navigating within and between files. They search manually for method definitions, and type out long path-names to access files.
      </p>

      <p>
      In this three-part series of screencasts, Drew Neil (author of Practical Vim and creator of vimcasts.org) will save you from this fate by teaching ultra-efficient navigation through Ruby code.
      </p>

      <p>
      With Drew’s help, you’ll learn to jump directly to the class, method, or file you’re interested in with minimal keystrokes. You’ll cease to care whether something is defined in your project, a bundled gem, or the standard library.
      </p>
    </blockquote>

    <p>
      <a href="https://thoughtbot.com/upcase/navigating-ruby-files-with-vim">Get access by joining thoughbot Upcase</a>
    </p>
  </div>
  <div class="publications-image thoughtbot">
    <a href="https://thoughtbot.com/upcase/navigating-ruby-files-with-vim" class="buy-videos-from-thoughtbot">
      <img src="/images/thoughtbot-robot-logo.png"/>
    </a>
  </div>
</div>

<div class="publication">
  <div class="title">
    <h2>Practical Vim - Japanese Translation</h2>
  </div>
  <div class="description">
    <p>
    Shintake has translated Practical Vim into Japanese. Here's the blurb from the publishers of the Japanese edition:
    </p>
    <blockquote>
      <p>
      『実践Vim』は、自分の技量を向上させたいプログラマに向けたものだ。聞いたことがあるだろうが、熟練者の手にかかれば、Vimは思考のスピードでテキストを切り刻んでいく。この目標に向かう次のステップが本書を読み込むことだ。
      </p>
    </blockquote>
    <p>
      <a href="http://tatsu-zine.com/books/practical-vim">Buy direct from Tatzu Zine</a>
    </p>
  </div>

  <div class="publications-image">
    <img src="/images/practical-vim/cover-japanese.jpg"/>
  </div>
</div>

<%= partial "footer-main" %>
