<div class="row">
  <div class="small-12 columns">

    <h1>Core Vim Class announcements</h1>

    <p>Be the first to hear about upcoming editions of the Core Vim Class</p>

    <%= partial "core-vim-online-announcements" %>
  </div>
</div>

