<ul class="category-list small-block-grid-2 medium-block-grid-3 large-block-grid-5">
  <% items.each do |tag| %>
    <li>
    <% link_to "/categories/#{tag[:name]}" do %>
      <h4><%= tag[:name] %></h4>
      <p>
      <%= tag_stats(tag) %>
      </p>
    <% end %>
    </li>
  <% end %>
</ul>
