<div class="row footer">

  <hr/>

  <div class="small-6 columns">
    <ul class="inline-list">
      <li><a href="/about">About</a></li>
      <li><a href="/announcements">Announcements</a></li>
      <li><a href="/tipjar">Leave a tip</a></li>
    </ul>
  </div>

  <div class="small-6 columns">
    <p class="text-right">
    Vimcasts.org established MMX
    </p>
  </div>

</div>
