<% page_articles.each do |article| %>
  <%= partial "article-listing",
    :locals => {article: article} %>
<% end %>

<div class="row">
  <div class="small-12 large-8 large-offset-2 columns">

    <nav class="pagination-links">
      <% if paginate %>

        <% if prev_page %>
          <%= link_to '&laquo; Previous', prev_page, class: 'previous' %>
        <% else %>
          <span class="previous">&laquo; Previous</span>
        <% end %>

        <% if next_page %>
          <%= link_to 'Next &raquo;', next_page, class: 'next' %>
        <% else %>
          <span class="next">Next &raquo;</span>
        <% end %>

    <% end %>
    </nav>

  </div>
</div>

<%= partial "footer-main" %>
