<% page_articles.each do |article| %>
  <%= partial "article-listing",
    :locals => {article: article} %>
<% end %>

<div class="row">
  <div class="small-12 large-10 large-offset-2 columns">

    <% if paginate %>
      <% if prev_page %>
        <p><%= link_to 'Prev page', prev_page %></p>
      <% end %>
      <% if next_page %>
        <p><%= link_to 'Next page', next_page %></p>
      <% end %>
    <% end %>

  </div>
</div>

