<div>
  <hr/>
  <h3>Related content</h3>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

    <% Similar::Suggester.new(self).get(current_page, 3).each do |related| %>
      <li>
      <h4><%= link_to related.title, "/#{related.path}" %></h4>
      </li>
      <%# related.summary %>
    <% end %>

    <li>
    <h4><a href="/training">Vim Training</a></h4>
    <p>Boost your productivity with a <a href="/training">Vim training class</a>. Join a public class, or <a href="/training/private">book a private session</a> for your team.</p>
    </li>
    <li>
    <h4><a href="/publications">Publications</a></h4>
    <p>
    Make yourself a faster and more efficient developer with the help of <a href="/publications">these publications</a>.
    </p>
    </li>
    <li>
    <h4><a href="/categories">Find by category</a></h4>
    <p>
    Vimcasts contains
    <%= blog(:episodes).articles.count %> free screencasts and
    <%= blog(:blog).articles.count %> articles.
    <a href="/categories">Browse all content by category</a>.
    </p>
    </li>
  </ul>
</div>
