<div>
  <hr/>

  <% tags = visible_tags(current_page.tags, tag_visiblity_threshold) %>
  <% if tags.length > 0 %>
    <h3>Browse similar content by category:</h3>
    <%= partial 'category-list-item', locals: {items: tags} %>
  <% end %>

  <%
    promo = [
      OpenStruct.new({
        title: "Vim Training",
        path: "training",
        summary: "<p>Boost your productivity with a <a href='/training'>Vim training class</a>. Join a public class, or <a href='/training/private'>book a private session</a> for your team.</p>"
      }),
      OpenStruct.new({
        title: "Publications",
        path: "publications",
        summary: "<p>Make yourself a faster and more efficient developer with the help of <a href='/publications'>these publications</a>.</p>"
      })
    ].shuffle[0..0]
  %>

</div>
