<div class="row">
  <div class="small-12 columns">
  <hr/>

  <% tags = visible_tags(current_page.tags, tag_visiblity_threshold) %>
  <% if tags.length > 0 %>
    <h3>Browse similar content by category:</h3>
    <%= partial 'category-list-item', locals: {items: tags} %>
  <% end %>


  </div>
</div>

<div class="row">
  <%= partial 'self-promotion' %>
</div>
