<div>
  <hr/>
  <h3>Related content</h3>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

    <% constant = [
      OpenStruct.new({
        title: "Vim Training",
        path: "training",
        summary: "<p>Boost your productivity with a <a href='/training'>Vim training class</a>. Join a public class, or <a href='/training/private'>book a private session</a> for your team.</p>"
      }),
      OpenStruct.new({
        title: "Publications",
        path: "publications",
        summary: "<p>Make yourself a faster and more efficient developer with the help of <a href='/publications'>these publications</a>.</p>"
      }),
      OpenStruct.new({
        title: "Find by category",
        path: "categories",
        summary: "<p>Vimcasts contains #{ blog(:episodes).articles.count } free screencasts and #{ blog(:blog).articles.count } articles. <a href='/categories'>Browse all content by category</a>.</p>"
      }),
    ] %>
    <% related = Similar::Suggester.new(self).get(current_page, 3) %>

    <% (related + constant).sort_by { rand }.each do |related| %>
      <li>
        <h4><%= link_to related.title, "/#{related.path}" %></h4>
        <%= related.summary %>
      </li>
    <% end %>

  </ul>
</div>
