<div class="pro-content">
  <hr/>
  <div class="level-up">
    <div class="metaheader">
      <h2>Level-up your Vim</h2>
    </div>
  </div>

  <h3>Training</h3>
  <div class="training">
    <p class="pitch">
      Boost your productivity with a <a href="/training">Vim training class</a>.
      Join a public class,
      or book a private session for your team.
    </p>
    <blockquote class="testimonial">
      <p>Drew hosted a private Vim session for the shopify team that was one of the best workshops I have ever attended.</p>
      <p>John Duff, Director of Engineering at Shopify</p>
    </blockquote>
  </div>

</div>

<div class="pro-content">
  <h3>Publications</h3>
  <div class="publications">
    <p class="pitch">
      Make yourself a faster and more efficient developer with the help of <a href="/publications">these publications</a>, including Practical Vim (Pragmatic Bookshelf 2012), which has over 50 five-star reviews on Amazon.
    </p>
    <blockquote class="testimonial">
      <p>After reading it, I've switched to vim as my default editor on a daily basis with no regrets. <strong>&#9733;&#9733;&#9733;&#9733;&#9733;</strong></p>
      <p>Javier Collado</p>
    </blockquote>
  </div>
  <div class="publications-image practical-vim">
    <img src="/images/practical-vim/practical-vim-cover-550.jpg"/>
  </div>
</div>

<div class="pro-content">
  <h3>Learn to use Vim efficiently in your Ruby projects</h3>
  <div class="pro-screencasts">
    <p class="pitch">
      In association with Thoughtbot, one of the most well respected Rails consultancies in the world, I've produced a series of screencasts on how to make navigating your Ruby projects with Vim ultra-efficient.
      Along the way, you’ll also learn how to make Ruby blocks a first-class text object in Vim.
      This lets you edit Ruby code at a higher level of abstraction.
      <a href="https://learn.thoughtbot.com/products/21-navigating-ruby-files-with-vim">Available to buy from Thoughtbot.</a>.
    </p>
  </div>
  <div class="pro-screencasts-image">
    <img src="/images/thoughtbot-robot-logo.png"/>
  </div>
</div>
