<div class="pro-content">
  <hr/>
  <div class="level-up">
    <h2 class="metaheader">Level-up your Vim</h2>
  </div>

  <h3>Training</h3>
  <div class="training">
    <p class="pitch">
      Boost your productivity with a <a href="/training">Vim training class</a>.
      Join a public class,
      or book a private session for your team.
    </p>
  </div>

  <div class="training-testimonial">
    <blockquote>
      <p>Drew hosted a private Vim session for the shopify team that was one of the best workshops I have ever attended.</p>
      <p>John Duff, Director of Engineering at Shopify</p>
    </blockquote>
  </div>

</div>

<div class="pro-content">
  <h3>Publications</h3>
  <div class="publications">
    <p class="pitch">
      Make yourself a faster and more efficient developer with the help of <a href="/publications">these publications</a>.
    </p>
  </div>
  <div class="publications-image">
    <img src="/images/practical-vim/practical-vim-cover-550.jpg"/>
  </div>
</div>

<div class="pro-content">
  <h3>Pro-screencasts</h3>
  <div class="pro-screencasts">
    <p class="pitch">
      In collaboration with Thoughtbot,
      Drew Neil has produced a set of pro-screencasts for Rubyists.
      <a href="https://learn.thoughtbot.com/products/21-navigating-ruby-files-with-vim">Buy them from Thoughtbot</a>.
    </p>
  </div>
  <div class="pro-screencasts-image">
    <img src="/images/thoughtbot-robot-logo.png"/>
  </div>
</div>
