<%# <div class="row"> %>
<%#   <div class="small-12 column"> %>
<%#     <div class="panel"> %>
<%#       Subscribe... %>
<%#     </div> %>
<%#   </div> %>
<%# </div> %>

<div class="row">
  <div class="small-12 large-10 large-offset-2 columns">

    <h1>Vimcasts</h1>

    <p>
    Vimcasts contains
    <%= blog(:episodes).articles.count %> free screencasts and
    <%= blog(:blog).articles.count %> articles.
    </p>

    <h2>Drew Neil</h2>

    <p>Drew Neil (aka <a href="http://twitter.com/nelstrom">@nelstrom</a>) is an independent programmer, writer, and trainer. He runs workshops around the world, <a href="http://lanyrd.com/profile/nelstrom/">speaks regularly at conferences</a>, and specializes in making educational screencasts.</p>


  </div>
</div>

<div class="about-mugshot">
  <img data-interchange="[/images/about/drew-at-eurucamp.jpg, (default)], [/images/about/drew-at-eurucamp-retina.jpg, (retina)]">
  <noscript><img src="/images/about/drew-at-eurucamp.jpg"/></noscript>
  <h3>Drew speaking at Eurucamp, 2013</h3>
  <p><a href="https://www.flickr.com/photos/wikimatze/9544968406/in/set-72157635111740326/">Photo by Matthias&nbsp;Günther</a></p>
</div>

<div class="about-mugshot">
  <img data-interchange="[/images/about/drew-and-zenna.jpg, (default)], [/images/about/drew-and-zenna-retina.jpg, (retina)]">
  <noscript><img src="/images/about/drew-and-zenna.jpg"/></noscript>
  <h3>Drew with Zenna</h3>
  <p><a href="https://www.flickr.com/photos/hannah_adcock/13171895325/">Photo by Hannah&nbsp;Adcock</a></p>
</div>

<%= partial "footer-main" %>
