<div class="row">
  <div class="small-12 column">
    <div class="panel">
      Subscribe...
    </div>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">

    <h1>Vimcasts</h1>

    <p>
    Vimcasts contains
    <%= blog(:episodes).articles.count %> free screencasts and
    <%= blog(:blog).articles.count %> articles.
    </p>

    <h2>Drew Neil</h2>

    <p>Drew Neil is an independent programmer, writer, and trainer. He runs workshops around the world, speaks regularly at conferences, and specializes in making educational screencasts.</p>


  </div>
</div>

<%= partial "footer-main" %>
