<% content_for(:title) do %>
  Archive for <%= "#{Date::MONTHNAMES[month]} #{year}" %>
<% end %>

<div class="row">
  <div class="small-12 columns">

    <h2><%= "#{Date::MONTHNAMES[month]} #{year}" %></h2>

    <ul>
      <% page_articles.each do |article| %>
        <li><%= link_to article.title, article %></li>
      <% end %>
    </ul>
  </div>
</div>
