<% content_for(:title, "Blog archive for #{year}") %>

<div class="row">
  <div class="small-12 columns">
    <h2>Published in <%= year %></h2>

    <% page_articles.group_by {|a| a.date.strftime("%B")}.each do |month, posts| %>
      <h3><%= month %></h3>
      <ul>
        <% posts.each do |article| %>
          <li><%= link_to article.title, article %></li>
        <% end %>
      </ul>
    <% end %>

  </div>
</div>
