<div class="row">
  <div class="small-12 columns">
    <h2>
      <%= tag_stats(tagname, " and ") %> tagged &ldquo;<%= tagname %>&rdquo;
    </h2>
  </div>
</div>

<% aggregate_by_tag(tagname).each do |article| %>
  <%= partial "article-listing",
    :locals => {article: article, current_tag: tagname} %>
<% end %>
