<div class="category-aggregate-title">
  <h2>
    <%= tagname %>
  </h2>
  <h4 class="subheader">
    category applies to <%= tag_stats(tagname, " and ") %>:
  </h4>
</div>

<% aggregate_by_tag(tagname).each do |article| %>
  <%= partial "article-listing",
    :locals => {article: article, current_tag: tagname} %>
<% end %>
