<div class="row explore-the-archives">
  <div class="small-12 columns">
    <h2>Find by category</h2>

    <p>
    Vimcasts contains
    <%= blog(:episodes).articles.count %> free screencasts and
    <%= blog(:blog).articles.count %> articles.
    </p>

    <ul class="category-list small-block-grid-2 medium-block-grid-3 large-block-grid-5">
      <% data.categories.each do |tagname| %>
        <li>
          <% link_to "/categories/#{tagname}" do %>
            <h4><%= tagname %></h4>
            <p>X videos, Y articles</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
