<div class="row">
  <div class="small-12 columns">
    <h2>Screencasts and articles tagged '<%= tagname %>'</h2>

    <% aggregate_by_tag(tagname).each do |article| %>
      <%= partial "article-listing",
        :locals => {article: article, current_tag: tagname} %>
    <% end %>
  </div>
</div>
