<div class="row">
  <div class="small-12 columns">
    <h2>
      <%= tag_stats(data.categories.select { |c| c["name"] == tagname }.first, " and ") %> tagged "<%= tagname %>"
    </h2>

    <% aggregate_by_tag(tagname).each do |article| %>
      <%= partial "article-listing",
        :locals => {article: article, current_tag: tagname} %>
    <% end %>
  </div>
</div>
