---
title: Vimcasts - Free screencasts about the text editor Vim
---


<div class="row">
  <div class="small-12 column">
    <div class="panel">
      <%
          now = Date.today
          # now = Date.parse("2014-02-20")
          # now = Date.parse("2014-03-20")
      %>
      <%= announcement "next-class", now %>
    </div>
  </div>
</div>

<h2>Training</h2>

<h2>Publications</h2>

<h2>Pro screencasts</h2>

<h2>Screencasts</h2>

<ul>
  <li>
  Latest episode:
  <% latest = blog(:episodes).articles.first %>
  <%= link_to latest.title, latest.path %>
  </li>
  <li><a href="/episodes/all">All episodes</a></li>
  <li>Pathways</li>
</ul>

<h2>Categories</h2>

<ul>
  <li>registers</li>
  <li>the dot command</li>
  <li>whitespace</li>
  <li>managing your workspace</li>
</ul>
