---
searchfeature: true
---

<div class="row search-results">
  <div class="small-12 large-8 large-offset-2 columns">
    <%= partial 'search-form' %>
    <div id="st-results-container"></div>
  </div>
</div>

<%= partial "footer-main" %>
