<div class="row">
  <div class="small-12 columns">
    <h1>Never miss an update!</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 columns">

    <h2>Subscribe to our mailing list</h2>

    <p>
      Subscribe to receive monthly updates about the latest screencasts, articles, promotions and announcements:
    </p>

    <%= partial "vimcasts-newsletter-signup" %>
  </div>

  <div class="small-12 large-6 columns">
    <h2>Find Vimcasts on social media</h2>

    <p>Follow <a href="http://twitter.com/vimcasts">@vimcasts</a> on Twitter</p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Subscribe to an RSS feed</h2>

    <table>
      <tr>
        <th colspan="2">
          iTunes
        </th>
      </tr>
      <tr>
        <td class="format">
          <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=350035635">Quicktime</a>
        </td>
        <td>
          Subscribe with iTunes, and have vimcasts ready for viewing on your desktop or mobile device.
        </td>
      </tr>
      <tr>
        <th colspan="2" class="topspacer">
          RSS feeds
        </th>
      </tr>
      <tr>
        <td class="format">
          <a href="/feeds/ogg">OGG Theora</a>
        </td>
        <td>
          This feed includes links to all Vimcast episodes in OGG format.
        </td>
      </tr>
      <tr>
        <td class="format">
          <a href="/feeds/quicktime">Quicktime movies</a>
        </td>
        <td>
          This feed includes links to all Vimcast episodes in Quicktime format, suitable for viewing on iPod/iPhone.
        </td>
      </tr>
    </table>

  </div>
</div>

<%= partial "footer-main" %>
