<div class="row">
  <div class="small-12 columns">

    <h1>Subscribe to Vimcasts.org</h1>

    <p><a href="http://vimcasts.org/">Vimcasts.org</a> is updated regularly. To keep up with the latest screencasts about Vim you can subscribe to any of our RSS feeds, or through iTunes. If you prefer to keep up to date with Twitter, you can also <a href="http://twitter.com/vimcasts">follow us on twitter</a>.</p>

    <%= partial "vimcasts-newsletter-signup" %>

    <table>
      <tr>
        <th colspan="2">
          iTunes
        </th>
      </tr>
      <tr>
        <td class="format">
          <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=350035635">Quicktime</a>
        </td>
        <td>
          Subscribe with iTunes, and have vimcasts ready for viewing on your desktop or mobile device.
        </td>
      </tr>
      <tr>
        <th colspan="2" class="topspacer">
          RSS feeds
        </th>
      </tr>
      <tr>
        <td class="format">
          <a href="/feeds/ogg">OGG Theora</a>
        </td>
        <td>
          This feed includes links to all Vimcast episodes in OGG format.
        </td>
      </tr>
      <tr>
        <td class="format">
          <a href="/feeds/quicktime">Quicktime movies</a>
        </td>
        <td>
          This feed includes links to all Vimcast episodes in Quicktime format, suitable for viewing on iPod/iPhone.
        </td>
      </tr>
    </table>

  </div>
</div>
